html {
    background-color: rgb(209, 252, 255);
    font-family: calibri;
}

h1 {
    display: inline;
    position: relative;
    left: 40%;
}

p {
    margin: 10px 30px;
    font-size: larger;
    width: 1000px;
}

#home_link {
    position: fixed;
    margin: 10px;
    right: 15px;
}

#home {
    width: 40px;
    aspect-ratio: 1/1;
}

#tamar_mepe {
    width: 400px;
    aspect-ratio: original;
    position: relative;
    left: 1070px;
    top: -800px;

}

@media screen and (max-width: 600px) {
    h1 {
        left: 10%;
    }

    p {
        width: 80%;
    }

    #tamar_mepe {
        width: 300px;
        aspect-ratio: original;
        position: static;
        margin: 20px;
    }
}