html {
    font-family: calibri;
    background-color: rgb(209, 252, 255); 
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
     cursor: pointer;
}

#home {
    width: 40px;
    aspect-ratio: 1/1;
}

h1 {
    display: inline;
    position: relative;
    left: 40%;
}

#home_link {
    position: fixed;
    margin: 10px;
    right: 15px;
}

/*? main */

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 200px;
    padding: 50px;
}

.cards {
    border: 2px solid rgba(196, 92, 0, 0.949);
    border-radius: 10px;
    width: 150px;
    height: 200px;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 236, 203, 0.744);
    box-shadow: 0 0 2px rgba(46, 46, 46, 0.874);
}

.likes {
    background-color: transparent;
    border: none;
    font-size: x-large;
    position: relative;
    bottom: -55%;
    left: 45%;
    cursor: pointer;
}



.page_viewer {
    background-color: rgba(128, 128, 128, 0.181);
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    padding: 7px;
    width: 100px;
}

.likes:active {
    animation: Likeing 0.5s ease-out forwards 1 normal;
}

@keyframes Likeing {
    0% {transform: scale(1);}
    25% {transform: scale(0.5);}
    100% {transform: scale(1);}
}

@media screen and (max-width: 800px) {
    main {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .cards {
        width: 80%;
        height: 200px;
    }

    h1 {
        left: 10%;
    }
}